body{
    padding: 1rem;
}

img{
    height: 20rem;
    border-radius: 0.5rem;
}

.set{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* max-width: 870px; */
}

.card{
    width: 13rem;
}

h4{
    color: rgb(100, 99, 99);
}